$lighterBlue: rgb(36, 105, 252);
$blueColorTheme: rgb(2, 78, 153);

.fetch-header {
  padding: 10px;
  margin: 10px;
}
.fetch-header h2 {
  font-size: 50px;
  color: $lighterBlue;
  margin: 20px 10px;
  text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
}

.fetch-header h2 a {
  font-size: 50px;
  color: rgb(0, 133, 66);
  text-decoration: underline;
}
.fetch-header h2 a:hover {
  color: rgb(2, 74, 146);
}

.fetch-header div {
  position: relative;
  padding: 5px 5px;
  margin: 5px;
  text-align: center;
  display: flex;
}

.fetch-header div input[type='text'] {
  margin: 10px 5px;
  direction: ltr;
  background-color: #f3f9ff;
  border: 1px solid $blueColorTheme;
  font-size: 20px;
  width: 80%;
  display: block;
  padding: 1px 8px;
  border-radius: 10px;
  color: $blueColorTheme;
  letter-spacing: 0.01em;
  position: relative;
}
.fetch-header div input[type='text']::placeholder {
  color: $blueColorTheme;
}
.fetch-header div input[type='text']:focus,
.fetch-header div input[type='text']:hover::placeholder {
  color: $lighterBlue;
}

.fetch-header div button {
  margin: 10px 5px;
  background-color: #f3f9ff;
  border: 1px solid $blueColorTheme;
  line-height: 0;
  white-space: nowrap;
  font-size: 20px;
  display: inline-block;
  padding: 20px 15px;
  border-radius: 10px;
  color: $blueColorTheme;
  letter-spacing: 0.01em;
  position: relative;
}
.fetch-header div button:hover,
.fetch-header div button:focus {
  color: #f3f9ff;
  background-color: $lighterBlue;
}

.fetch-header div .current-url {
  position: relative;
  color: blue;
  font-size: 14px;
  margin: auto 1px;
  padding: 12px 5px;
  border-radius: 5px;
}
